.AdjustTimerButtonGroup__PlusBtn,
.AdjustTimerButtonGroup__MinusBtn {
  font-size: 12em;
  cursor: pointer;
  line-height: 80px;
  height: 85px;
}

.fa-angle-down,
.fa-angle-up {
  background: linear-gradient(to right top, #ffaa5a, #c779d0, #41a8b9);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: Gradient 3s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Timer__HoursAdjustBtn__Container,
.Timer__MinutesAdjustBtn__Container,
.Timer__SecondsAdjustBtn__Container {
  height: 85px;
}

.AdjustTimerButtonGroup {
  grid-area: adjustBtns;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
