.Timer__HoursCount,
.Timer__MinutesCount,
.Timer__SecondsCount {
  text-align: center;
  font-size: 4em;
}

.Timer__HoursCount,
.Timer__MinutesCount,
.Timer__SecondsCount {
  margin: 0;
}

.Timer__StartBtn,
.Timer__PauseBtn,
.Timer__CleartBtn {
  margin-left: 8px;
}

.Timer__Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr;
  grid-template-areas:
    ".adjustBtns."
    ".main."
    ".controllerBtns.";
}

.Timer__Counter {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}